.Detail {
  margin-top: 50px;
}

.DetailCard {
  border: 1px solid #000;
  border-radius: 15%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  width: 400px;
  margin: 16px auto;
  text-align: center;
  background-color: #686767;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.DetailCard img {
  width: 250px;
  height: 250px;
}

.DetailCard h2 {
  margin-bottom: 8px;
  font-size: 30px;
}

.DetailCard .properties {
  display: flex;
  justify-content: space-between;
}

.DetailCard .properties-left {
  text-align: left;
  margin-left: -150px;
}

.DetailCard .properties-right {
  text-align: right;
  margin-right: -150px;
}

.DetailCard .type {
  margin-top: 16px;
}
