.Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333333c2;
  margin-bottom: 10px; /* Add margin to the bottom */
}

.HomeButton {
  margin-left: 50px;
  text-decoration: none;
}

.Inicio {
  background: #007bff31;
  background-image: -webkit-linear-gradient(top, #007bff83, #297fb98e);
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid #ccccccc7;
  border-radius: 15%;
  cursor: pointer;
}

.Inicio:hover {
  background: #0057b3af;;
  background-image: -webkit-linear-gradient(top, #0057b3b7, #3498dbb7);
  text-decoration: none;
}

.SelectContainer {
  width: 200px;
}

.SearchBar {
  /* flex-grow: 1; */
  margin: 0 10px;
}

.CreateButton {
  margin-right: 50px;
  background: #007bff31;
  background-image: -webkit-linear-gradient(top, #007bff83, #297fb98e);
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid #ccccccc7;
  border-radius: 15%;
  cursor: pointer;
}

.CreateButton:hover {
  background: #0057b3af;;
  background-image: -webkit-linear-gradient(top, #0057b3b7, #3498dbb7);
  text-decoration: none;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .Nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .FilterBar,
  .SortBar {
    margin: 10px 0;
  }

  .SelectContainer {
    width: 100%;
  }

  .SearchBar {
    margin: 10px 0;
  }

  .CreateButton {
    margin-top: 10px;
  }
}
