.Content {
  margin-top: 60px;
}

.ContentContainer {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
}

.pagination-buttons button {
  margin: 0 5px;
  padding: 5px 20px;
  border: none;
  background-color: #007bff;
  border-radius: 20%;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.firstButton[disabled],
.NextButton[disabled] {
  background-color: white;
  cursor: not-allowed;
  color: #fff3f3;
}

.pagination-buttons button.active {
  background-color: #0056b3;
}

.pagination-buttons button.disabled {
  /* background-color: #51a4fdbe; */
  cursor:  not-allowed;
}

.pagination-buttons button:hover {
  background-color: #0056b3;
}

.pagination-buttons button.disabled:hover {
  background-color: #51a4fdbe;
  cursor:  not-allowed;
}


.Loading {
  /* height: 410px; */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px solid #ccccccc7;
  border-radius: 10%;

}