.Content {
  margin-top: 60px; 
}

.ContentContainer {
  margin-top: 60px;
}
.pagination-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-buttons button {
  margin: 0 5px;
  padding: 5px 10px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
}

.pagination-buttons button.active {
  background-color: #ccc;
}




