.form-container {
  /* display: flex; */
  align-items: flex-start;
  /* justify-content: center; */
  /* height: 100vh; */
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  justify-items: center;
}

.top-left {
  margin-top: 10px;
  margin-left: 10px;
  align-self: flex-start;
}

.inputs {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}

.inputs-container {
  margin-right: 200px;
  /* margin-bottom: 200px; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 100px;
}

.inputs input {
  width: 700px;
  height: 40px;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px;
}

.inputs input::placeholder {
  font-size: 16px;
}

.Type {
  align-self: center;
}

.buttons-container {
  /* margin-top: 170px; */
  margin-left: auto;
  margin-right: 400px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 10px;
  align-self: flex-end;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  margin-left: 100px;
  margin-right: 100px;
  justify-content: flex-end;
}

.buttons > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.create-button {
  width: 300px;
  margin-top: 10px;
  margin-right: 250px;
  align-self: flex-end;
  background: #007bff;
  background-image: -webkit-linear-gradient(top, #007bff, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.create-button:hover {
  background: #0056b3;;
  background-image: -webkit-linear-gradient(top, #0056b3, #3498db);
  text-decoration: none;
}

.roundButton {
  border-radius: 50%;
}

.selectButton {
  height: 30px;
  width: 30px;
  background-color: #ccc;
  color: #fff;
  transition: background-color 0.3s ease;
}

.selectButton:hover {
  background-color: #999;
}

.selectButton.active {
  background-color: green;
}

.input-container {
  display: flex;
  position: relative;
}

.error-message {
  position: absolute;
  bottom: -30px;
  right: 0;
  background-color: #ffcccc;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
}

.error-message-type {
  position: absolute;
  bottom: -30px;
  right: 0;
  background-color: #ffcccc;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
}


input {
  width: 700px;
  height: 40px;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px;
}