.FondoLanding {
  background-image: url('./Bulbasaurcito2.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Enter {
  border: none;
  border-radius: 50%;
  /* background-color: rgba(87, 87, 87, 0.521); */
  background-image: url('./Honor_ball_verde.png');
  background-size: 110%;
  background-position: center;
  width: 200px;
  height: 200px;
  cursor: pointer;
  transition: all 0.2s;
}

.Enter:hover {
  transform: scale(1.2);
}

.Enter:active {
  transform: scale(0.75) rotate(180deg) ;
  animation: vanish 1s forwards;
}

@keyframes vanish {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
