.FondoLanding {
  background-image: url('./wallpaperbetter.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.Enter {
  margin-top: 90px;
  border: none;
  border-radius: 50%;
  /* background-color: rgba(87, 87, 87, 0.521); */
  background-image: url('./PngItem_1075234.png');
  background-size: 110%;
  background-position: center;
  width: 200px;
  height: 200px;
  cursor: pointer;
  transition: all 0.6s;
  box-shadow: 0px 0px 60px rgb(255, 27, 27);
}

.Enter:hover {
  transform: scale(1.2);
}

.Enter:active {
  margin-top: 400px;
  transform: scale(0.75) rotate(180deg) ;
  animation: vanish 1s forwards;
}

@keyframes vanish {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
