.Cartitas {
  display: grid;
  grid-template-columns: repeat(6, minmax(250px, 1fr));
  grid-gap: 20px;
  justify-content: center;
  max-width: 1700px;
  height: 730px;
  margin: 0 auto;
}

.pagination-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

@media (max-width: 1200px) {
  .Cartitas {
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    height: auto;
    padding: 0 20px;
  }
}

@media (max-width: 900px) {
  .Cartitas {
    grid-template-columns: repeat(3, minmax(250px, 1fr));
  }
}

@media (max-width: 600px) {
  .Cartitas {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }
}

@media (max-width: 400px) {
  .Cartitas {
    grid-template-columns: repeat(1, minmax(250px, 1fr));
  }
}

