.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputSearch {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-family: "Caveat", cursive;
  font-size: 16px;
  flex-grow: -1;
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color: #007bff7c;
}

.searchButton {
  margin-bottom: 1px;
  margin-left: 15px;
  background-image: url("./Lupa1.png");
  background-size: 100%;
  background-position: center;
  height: 35px;
  width: 35px;
  border-radius: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #007bff75;
}

.inputSearch:hover {
  background-color: #266fa0a6;
}

.searchButton:hover {
  background-color: #266fa0a6;
}

.searchButton:active {
  transform: scale(0.9);
}
